/* Style de la barre de navigation */
nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding: var(--spacing-sm);
  width: 100vw;
  top: 0;
  left: 100px;
}

/* Liste des éléments de navigation */
nav ul {
  display: flex;
  gap: 180px;
  list-style: none;
}

/* Style des liens de navigation */
nav ul li a {
  box-shadow: var(--shadow-md);
  gap: var(--spacing-xs);
  font-weight: bold;
  font-size: var(--font-size-nav);
  font-family: var(--font-title);
  color: var(--button-text);
  background-color: var(--bg-button);
  text-decoration: none;
  cursor: pointer;
  width: var(--button-width);
  height: var(--button-height);
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--radius-md);
  border: solid 1px var(--bg-dark);
  text-align: center;
  transition: color 0.3s ease;
}

/* Effet de survol des liens de navigation */
nav ul li a:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

