/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "./navbar.css";

body {
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #3b2a1a;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cinzel Decorative", serif;
  font-size: 5rem;
  text-align: center;
  margin: 2rem;
  color: #ffffff;
}

input,
button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #a1865e;
  border-radius: 4px;
  background-color: #fff4dc;
  color: #3b2a1a;
}

button:hover {
  background-color: #c2a675;
  cursor: pointer;
}

p {
  font-style: italic;
  color: #4a3822;
  margin-top: 1rem;
}
